{% extends 'admintheme.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category Manager</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id})  }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}" class="btn btn-success">Create</a>
{% endblock %}
