{% extends 'admintheme.html.twig' %}

{% block title %}Supplier{% endblock %}

{% block body %}
    <h1>Supplier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.address }}</td>
                <td>
                    <a href="{{ path('app_supplier_show', {'id': supplier.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_supplier_edit', {'id': supplier.id}) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_supplier_new') }}" class="btn btn-success">Create</a>
{% endblock %}
